
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.class{
    background-color: #c6b6b6 ;
    border-radius: 10px;
    
}


.center__item{
    position: relative;
}

.center__item::after{
    position: absolute;
    content: "";
    border-left: 3px solid #da1212;
    border-right: 3px solid #da1212;
    padding: 100px;
    
}