
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.class{
    border: 1px solid #696565;
    
}